@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<body>
    <h3 href="Calendar/Index">
        Booking kalendar
    </h3>
</body>
