
<style>

    .modal-header {
        background-color: #2c3e50;
        color: white;
    }

    .close {
        color: #dedede;
    }
</style>

<h1>DelPin Booking1</h1>
<div id='calendar'></div>

@* Modal for Creating new event *@

<div id="CreateModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><span id="eventTitle"></span></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" id="txtTitle" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Start</label>
                        <div class="input-group date" id="dtp1">
                            <input type="datetime-local" id="txtCreateStart" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>End</label>
                        <div class="input-group date" id="dtp2">
                            <input type="datetime-local" id="txtCreateEnd" class="form-control" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="pull-left">
                    <button id="btnCreateSave" class="btn btn-succes">Save</button>
                </div>
                <div class="pull-right">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
</div>

@*Modal for showing details when clicking on event in calendar*@
<div id="DetailModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><span id="eventTitle"></span></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">

                <p id="pDetails"></p>
            </div>
            <div class="modal-footer">
                <div class="pull-left">
                    <button id="btnDelete" class="btn btn-default">Delete</button>
                    <button id="btnEdit" class="btn btn-default" style="margin-right:5px;">Edit</button>
                </div>
                <div class="pull-right">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
</div>

@*Modal for edit existing event*@
<div id="EditModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><span id="eventTitle"></span></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" id="hdEventID" value="0" />
                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" id="txtSubject" class="form-control" disabled />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Start</label>
                        <div class="input-group date" id="dtp1">
                            <input type="datetime-local" id="txtStart" class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>End</label>
                        <div class="input-group date" id="dtp2">
                            <input type="datetime-local" id="txtEnd" class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </form>
                <p id="pDetails"></p>
            </div>
            <div class="modal-footer">
                <div class="pull-left">
                    <button id="btnSave" class="btn btn-succes">Save</button>
                </div>
                <div class="pull-right">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<link href='fullcalendar-scheduler/main.css' rel='stylesheet' />
<script src='fullcalendar-scheduler/main.js'></script>
<script src='fullcalendar-scheduler/locales/da.js'></script>
<script src="~/js/Calendar.js" asp-append-version="true"></script>






