@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div class="text-center">
        <div class="site-logo">
            <img src="~/Images/DelpinLogo.png" alt="DelpinLogo" width="200" height="100"> <br />
            <img src="~/Images/FrontPageLogo.jpg" alt="GfxLogo" />

            <h5 class="display-4">Online booking</h5>
        </div>
    </div>
</body>